.gap-right {
    margin-right: 10px; 
    }
body {
    background-image: url("../images/sky.png");
}
hr {
    height: 1px;
    background-color:#555;
    padding:-10px;
}
p {
    text-align:justify;
    margin-right:-30px;
}